/* customização do pseudo-classe */
h1{
    color: rgb(3, 1, 0);
}

p{
    color: rgb(255, 6, 6);
}

a{
    background-color: rgb(0, 225, 255);
    color: blue;
    padding: 8px;
    text-decoration: none;
    border-radius: 15px;
    border: solid blue 2px;
    width: 8px;
}
/* Comportamento de link ao ser clicado*/
a:link{
    color: rgb(0, 0, 75);
}

/* comportamento de link depois de ser clicado */
a:visited{
    color: white;
    background-color: blueviolet;
}

/* comporatamento de passar o mouse sobre */
a:hover{
    background-color: yellow;
    color: red;
}

/* comportamento de ativação */
a:active{
    background-color: brown;
    color: whitesmoke;
}

button:link{
    color: rgb(255, 102, 0);
}
button:visited{
    color: black;
    background-color: aquamarine;
}
button:hover{
    background-color: blanchedalmond;
    color: brown;
}

/* trabalhando com Pseudo-elemento */
p::first-line{
    color: blue;
    font-variant: small-caps;
}
p::first-letter{
    color: black;
    font-size: xx-large;
}
/* antes do elemento*/
h3::before{
    content: url(/img/chapeleiro_mini.jpg);
}
h3::after{
    content: url(/img/chapeleiro_mini.jpg);
}
/* especificos para listas (bulets ou marcadores)*/
::marker{
    color: rgb(255, 0, 212);
}
/* */
::selection{
    color: darkorange;
    background-color: black;
}